.filter-wrapper {
  display: flex;
  flex: 0.5;
  padding-top: 10px;
  flex-direction: column;
}
.filter-brands {
  display: flex;
  flex-direction: column;
}
.filter-brands__branding {
    padding-bottom: 15px;
}
.filter-brands__buttons {
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    gap: 15px;
}