.header-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}
.header-contact__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.header-contact__number {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header-contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-catalog {
  display: flex;
  justify-content: row;
  align-items: center;
  color: white;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-catalog-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-catalog__menu {
  display: flex;
  gap: 40px;
  font-size: 20px;
}

.p-text {
  display: flex;
  gap: 10px;
}
.header-catalog__button {
  display: flex;
}

@media (max-width: 1024px) {
  .header-contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-catalog-wrapper {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  }
  .header-catalog__menu {
padding-bottom: 15px;
  }
}
